// _global.css

// Colores
/** colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;

$font-title: "Alegreya, serif";
// Permite definir un set de reglas
// Estas reglas pueden ser heredadas
%base-title{
  font-family: $font-title;
  color: $dark-green-text;
}