body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: 'Fascinate', cursive;
  font-size: 50px;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
}

li {
  display: inline;
  margin: 0 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  height: 100%;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 70%;
  color: #025157;
  font-weight: 500;
  text-align: center;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

.promo {
  text-align: center;
}

.promo-image {
  width: 70%;
}

.banner-logo-image {
  width: 30%;
}

form {
  text-align: center;
}