body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  text-align: center;
  font-family: "Fascinate", cursive;
  font-size: 50px;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

button {
  color: #fff;
  background-color: #025157;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
}

li {
  display: inline;
  margin: 0 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 70%;
  color: #025157;
  font-weight: 500;
  text-align: center;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 150px;
  text-align: center;
}

form {
  text-align: center;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.publish h3 {
  font-family: "Fascinate", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}
.publish > form {
  display: flex;
}
.publish > form p {
  color: #025157;
  margin-right: 18px;
}
input + button {
  line-height: 30px;
  font-size: 10pt;
  margin: 0 0 0 -10px;
  border-radius: 0 5px 5px 0;
}

form > input {
  margin: 0;
  border-radius: 5px 0 0 5px;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 40px;
  margin-top: 10px;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}
.features {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px); */
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.feature1{
  background-color: red;
}
.feature2{
  background-color: purple;
}
.feature3{
  background-color: aqua;
}
.feature4{
  background-color: yellowgreen;
}
